
<!DOCTYPE html>
<html>
<head>
	<title>Code Solve</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="home_style.css">
</head>
<body>

	<header>
		
	</header>
	<main>
		<section class="title">
			<h1>Home</h1>
		</section>
        <form action="{% url 'selection:default_subject' %}" method="get">

		<section class="wrap">
			<div id="container">
			<p id="head">Select Your Stream
			<p>
				<select id="stream" name ="stream" onchange = changeColor(this)>
					<option value="hide" disabled selected>Stream</option>
					{% for streams in all_streams %}
                        <option>{{streams}}</option>
                    {% endfor %}
				</select><br/>
				<select id="year" name="year" onChange= displayGoButton(this) >
					<option value="hide" disabled selected>Select Year</option>
				</select><br/>
				<button id="Go" value="Go" name="Go">Go</button>
			</div>
		</section>
        </form>
	</main>
	<footer>
		
	</footer>
<script>
	function changeColor(id) {
	    var stream = id.value;
	    var yearId = document.getElementById("year");
        for(i = yearId.options.length - 1 ; i > 0 ; i--)
        {
            yearId.remove(i);
        }
        if(stream.indexOf("Bachelor")!=-1) {
            var year = ['FY','SY','TY'];
            for(var i= 0; i<3;i++){
                var option = document.createElement('option');
                option.text = year[i];
                yearId.add(option);
            }
        }
        else{
            var year = ['FE','SE','TE','BE'];
            for(var i= 0; i<4;i++){
                var option = document.createElement('option');
                option.text = year[i];
                yearId.add(option);
                yearId.remove
            }
        }
		id.style.color = "#111111";
		document.getElementById("year").style.display = "block" ;

	}
	function displayGoButton(id) {
		id.style.color = "#111111";
		document.getElementById("Go").style.display = "inline-block" ;
	}
</script>
</body>
</html> 
